<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

    <header id="header">
        <div class="container">
            <nav>
                <div class="nav-title">
                    <a href="/" class="nav-brant">User Managment System</a>
                </div>
            </nav>
        </div>
    </header>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="table-parent-div">
                <div class="table-div">
                    <div class="add-user-box">
                        <a href="./include/add-user.html">
                            <span class="">New User <i class="fa-solid fa-user"></i></span>
                        </a>
                    </div>
                    <!-- form haneling -->
                    <div class="form-div">
                        <form action="/" method="post">
                            <table class="table">
                                <thead>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Username</td>
                                        <td>example@gmail.com</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                        <td class="action">
                                            <a href="#">
                                                <span><i class="fa-solid fa-pen-to-square"></i></span>
                                            </a>
                                            <a href="#">
                                                <span><i class="fa-solid fa-trash"></i></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Site -->
</body>

</html>