<div class="form-div">
    <form action="/" method="post" id="add-user">
        <div class="new-user">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="hidden" name="id" value="">
                <input type="text" name="name" value="" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" value="" placeholder="example@gmail.com">
            </div>
            <div class="form-group ">
                <label for="gender" class="lbl-title">Gender</label>
                <div class="radio-div">
                    <div class="radio-inline">
                        <input type="radio" name="gender" value="Male">
                        <label for="gender">Male</label>
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="gender" value="Famale">
                        <label for="gender">Famale</label>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <label for="status" class="lbl-title">Status</label>
                <div class="radio-div">
                    <div class="radio-inline">
                        <input type="radio" name="status" value="Active">
                        <label for="status">Active</label>
                    </div>
                    <div class="radio-inline">
                        <input type="radio" name="status" value="InActive">
                        <label for="status">InActive</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit">Save</button>
            </div>
        </div>
    </form>
</div>